/* Declaramos con palabra reservada MEDIA -> DISPOSITIVOS PEQUEÑOS (ej.: celular) */
@media (min-width: 300px) and (max-width: 700px) {
    mat-toolbar {
        background-color: rgb(28, 218, 28);
    }
    #menuInicio {
        display: none;
    }
    #menuProducto {
        display: none;
    }
    
    /* Estilos para botones en dispositivos pequeños */
    button {
        font-size: 12px; /* Tamaño de la fuente */
        padding: 5px 10px; /* Ajusta el padding */
        margin: 2px; /* Espacio entre botones */
    }
}

/* DISPOSITIVOS MÁS GRANDES (ej.: computadora) */
@media (min-width: 700px) {
    .palabra {
        color: white;
    }
    mat-toolbar {
        background-color: rgb(28, 218, 28);
    }

    #menuSecciones {
        display: none;
    }
}