<!-- Estilos CSS para ajustar el tamaño de los iconos de redes sociales -->
<style>
    .icono-red-social {
      font-size: 20px; /* Esto ajusta el tamaño de los iconos X, Instagram y Facebook */
    }
  </style>
  
  <!-- Contenedor principal -->
  <div class="container">
    <!-- Pie de página -->
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <!-- Sección izquierda del pie de página -->
      <div class="col-md-4 d-flex align-items-center">
        <!-- Enlace al inicio del sitio -->
        <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
          <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
        </a>
        <!-- Texto con el copyright de la empresa -->
        <span class="mb-3 mb-md-0 text-body-secondary">&copy; 2024 Company, Inc</span>
      </div>
  
      <!-- Lista de iconos de redes sociales a la derecha del pie de página -->
      <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <li class="ms-3">
          <!-- Enlace a Twitter -->
          <a class="text-body-secondary icono-red-social" href="https://twitter.com" target="_blank" rel="noopener noreferrer">
            <i class="fa-brands fa-square-x-twitter"></i>
            <svg class="bi" width="60px" height="60px"><use xlink:href="#twitter"/></svg>
          </a>
        </li>
        <li class="ms-3">
          <!-- Enlace a Instagram -->
          <a class="text-body-secondary icono-red-social" href="https://instagram.com" target="_blank" rel="noopener noreferrer">
            <i class="fa-brands fa-square-instagram"></i>
            <svg class="bi" width="60px" height="60px"><use xlink:href="#instagram"/></svg>
          </a>
        </li>
        <li class="ms-3">
          <!-- Enlace a Facebook -->
          <a class="text-body-secondary icono-red-social" href="https://facebook.com" target="_blank" rel="noopener noreferrer">
            <i class="fa-brands fa-facebook"></i>
            <svg class="bi" width="60px" height="60px"><use xlink:href="#facebook"/></svg>
          </a>
        </li>
      </ul>
    </footer>
  </div>
  