<div class="container">
    <div class="row">
       <div><img src="../../../../../assets/aero.png" alt="" height="70px"></div>

        <div class="col">
            <div *ngFor="let i of info" class="contenido">
                <mat-card class="example-card">
                    <mat-card-header>
                      <mat-card-title>{{i.nombre}}</mat-card-title>
                    </mat-card-header>
                    <img mat-card-image src="{{i.imagen}}" alt="{{i.alt}}">
                    <mat-card-content>
                      <p>
                        {{i.edad}}
                      </p>
                    </mat-card-content>
                    <mat-card-actions>
                      <button mat-button>Comprar</button>
                      <button mat-button>Compartir</button>
                    </mat-card-actions>
                  </mat-card>                
            </div>
        </div>
    </div>
</div>



