  <!--##################################### CARRUSEL INFINITO ####################################-->

 <div class="mi-carrusel">
    <div class="mi-carrusel-inner">
      <img src="https://img.freepik.com/vector-premium/graffiti-emoticon-cara-enferma-miedo-rociado-aislado-sobre-fondo-blanco-ilustracion-vectorial_36380-436.jpg" alt="Imagen 1">
      <img src="https://static.vecteezy.com/system/resources/previews/029/932/153/non_2x/graffiti-spray-crown-icon-isolated-on-white-background-illustration-vector.jpg" alt="Imagen 2">
      <img src="https://img.freepik.com/vector-premium/flecha-pintada-spray-graffiti-rociada-aislada-flecha-graffiti-fondo-blanco-spray-negro-sobre-blanco-ilustracion-vectorial_731105-161.jpg" alt="Imagen 3">
      <img src="https://static.vecteezy.com/system/resources/previews/019/597/798/original/spray-painted-graffiti-electric-lightning-flash-lightning-bolt-in-black-over-white-drops-of-sprayed-thunder-bolt-symbol-isolated-on-white-background-illustration-vector.jpg" alt="Imagen 4">
      <img src="https://img.freepik.com/vector-premium/graffiti-pintura-aerosol-vector-aislado_96628-676.jpg" alt="Imagen 5">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwlR4wMq7_QCoRaQBaDqL6yF-2dV8FdjWf1Q&s" alt="Imagen 6">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSWGcp7xfOMiDvsQsG0_lCIpp8KbZpA5w8Oew&s" alt="Imagen 7">
      <img src="https://img.freepik.com/vector-premium/rocie-signo-corazon-graffiti-pintado-negro-sobre-blanco-simbolo-gota-corazon-amor-aislado-ilustracion-vector-fondo-blanco_607987-1662.jpg" alt="Imagen 8">
      <img src="https://img.freepik.com/vector-premium/flecha-pintada-spray-graffiti-rociada-aislada-flecha-graffiti-fondo-blanco-spray-negro-sobre-blanco-ilustracion-vectorial_731105-161.jpg" alt="Imagen 9">
      <img src="https://static.vecteezy.com/system/resources/previews/019/597/798/original/spray-painted-graffiti-electric-lightning-flash-lightning-bolt-in-black-over-white-drops-of-sprayed-thunder-bolt-symbol-isolated-on-white-background-illustration-vector.jpg" alt="Imagen 10">
    
      <!-- Duplicamos las imágenes para crear el efecto de bucle infinito -->
      <img src="https://img.freepik.com/vector-premium/graffiti-emoticon-cara-enferma-miedo-rociado-aislado-sobre-fondo-blanco-ilustracion-vectorial_36380-436.jpg" alt="Imagen 1">
      <img src="https://static.vecteezy.com/system/resources/previews/029/932/153/non_2x/graffiti-spray-crown-icon-isolated-on-white-background-illustration-vector.jpg" alt="Imagen 2">
      <img src="https://img.freepik.com/vector-premium/flecha-pintada-spray-graffiti-rociada-aislada-flecha-graffiti-fondo-blanco-spray-negro-sobre-blanco-ilustracion-vectorial_731105-161.jpg" alt="Imagen 3">
      <img src="https://static.vecteezy.com/system/resources/previews/019/597/798/original/spray-painted-graffiti-electric-lightning-flash-lightning-bolt-in-black-over-white-drops-of-sprayed-thunder-bolt-symbol-isolated-on-white-background-illustration-vector.jpg" alt="Imagen 4">
      <img src="https://img.freepik.com/vector-premium/graffiti-pintura-aerosol-vector-aislado_96628-676.jpg" alt="Imagen 5">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwlR4wMq7_QCoRaQBaDqL6yF-2dV8FdjWf1Q&s" alt="Imagen 6">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSWGcp7xfOMiDvsQsG0_lCIpp8KbZpA5w8Oew&s" alt="Imagen 7">
      <img src="https://img.freepik.com/vector-premium/rocie-signo-corazon-graffiti-pintado-negro-sobre-blanco-simbolo-gota-corazon-amor-aislado-ilustracion-vector-fondo-blanco_607987-1662.jpg" alt="Imagen 8">
      <img src="https://img.freepik.com/vector-premium/flecha-pintada-spray-graffiti-rociada-aislada-flecha-graffiti-fondo-blanco-spray-negro-sobre-blanco-ilustracion-vectorial_731105-161.jpg" alt="Imagen 9">
      <img src="https://static.vecteezy.com/system/resources/previews/019/597/798/original/spray-painted-graffiti-electric-lightning-flash-lightning-bolt-in-black-over-white-drops-of-sprayed-thunder-bolt-symbol-isolated-on-white-background-illustration-vector.jpg" alt="Imagen 10">

    </div>
  </div>
  <app-card></app-card>