<!-- Contenedor principal -->
<div class="container">
    <!-- Fila que contiene todos los elementos -->
    <div class="row">
        <!-- Imagen de inicio de sesión -->
        <div>
            <img src="../../../../../assets/IsEsion.png" alt="" height="65px">
        </div>

        <!-- Imagen de icono -->
        <div>
            <img src="../../../../../assets/icono.png" alt="">
        </div>    
        
        <!-- Campo de formulario para el email -->
        <mat-form-field appearance="fill">
            <mat-label>Ingrese su email:</mat-label>
            <input [(ngModel)]="usuarioIngresado.email" matInput placeholder="Ej: pepitoperez2022@gmail.com" required>
        </mat-form-field>

        <!-- Campo de formulario para la contraseña -->
        <mat-form-field>
            <mat-label>Ingrese su contraseña:</mat-label>
            <input [(ngModel)]="usuarioIngresado.password" matInput [type]="hide ? 'password' : 'text'" #input minlength="6" required>
            <!-- Botón para mostrar/ocultar la contraseña -->
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <!-- Pista sobre la longitud mínima de la contraseña -->
            <mat-hint align="start">Mínimo:6/{{input.value.length}}</mat-hint>
        </mat-form-field>

        <!-- Botón para iniciar sesión -->
        <button class="boton" mat-raised-button color="primary" (click)="iniciarSesion()">Iniciar Sesión</button>
    </div>
</div>